@model ParentEspoir.Application.UpdateWorkshopTypeCommand

@{
    ViewData["Title"] = "Modifier le volet";
}

<div class="jumbotron">

    <div class="container">

    <h4>Modifier le volets</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" asp-route-id="@Model.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enregistrer" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Retour à la liste</a>
    </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
