@model IEnumerable<ParentEspoir.Application.WorkshopTypeModel>

@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.UpdateSuccess != null && ViewBag.UpdateSuccess)
{
    <div class="alert alert-success">
        Le volet a bien été <strong>modifié</strong>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="jumbotron">

    <h1>Volets</h1>

    <p>
        <a asp-action="Create">Ajouter</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nom
                </th>
                <th>
                    Code du ministère
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> | 
                        <a href="#" onclick="deleteWorkshopType(@item.Id)">Désactivé</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts  {
    <script src="~/js/Workshop/WorkshopType.js"></script>
}