@model ParentEspoir.WebUI.Areas.Identity.Pages.Account.RegisterModel.InputModel
@{
    ViewData["Title"] = "Ajouter un utilisateur";
}

@if (ViewBag.OperationSuccess != null && ViewBag.OperationSuccess)
{
    <div class="alert alert-success">
        La <strong>création</strong> de l'utilisateur à bien été enregistrer.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (ViewBag.OperationFailed != null && ViewBag.OperationFailed)
{
    <div class="alert alert-danger">
        <strong>Échec</strong> lors de l'enregistrement du groupe.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="jumbotron">
    <div class="container">


        <div class="row">
            <div class="col-md-4">
                <form method="post" asp-action="Create">
                    <h4>Ajouter un utilisateur</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    <a class="btn btn-outline-primary" asp-action="Index">Retour à la liste</a>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/clearform.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
