@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accès non autorisé";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Vous ne pouvez pas accéder à cette ressource</p>
</header>
