@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmer l'adresse courriel";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Merci d'avoir confirmer votre adresse courriel
    </p>
</div>
