@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation d'oubli de mot de passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vous devriez avoir reçu un courriel de confirmation. Aller consulter vos courriel.
</p>

