@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Votre compte à été verrouillé. Veuillez contacter l'administrateur du système.</p>
</header>
