@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passe a été réinitialisé. <a asp-page="./Login">Cliquer ici pour vous connecter</a>.
</p>
